<div class="row content-box align-items-center justify-content-center">
    
      <h2>
        What is skatetrax?
      </h2>
      
    <p>
        When I began figure skating, I started as an adult. I had recently started a new job near a rink and was ready to learn everything there was
        about skating.  When I transistioned from rental skates to my first pair of skates I was told about how maintain them and how important that
        would be to my success.  I didn't know it at the time but that was when skatetrax was actually born. The idea was to simply keep track of how
        many hours I had skated and then how much it was costing me to skate every week. Back then, it wasn't as easy to keep up with as it is now.
    </p>
    <p>
        As my skating evolved, so did skatetrax. The idea of keeping records didn't feel like enough and I believe that when every one is able to view
        historical data, they can make educated decisions about how to plan for what is next. A coach being able to see how much practice a student does 
        on their own, or a skater that can see how much coached time they had last month - these types of trends help every one stengthen themselves for
        success on the ice.  That is what skatetrax aims to do.
    </p>
    <p>
        Skatetrax will always continue to evolve.  We welcome feedback and suggestions at all times and truly hope to have a platform that is easy
        to use for all.  No gimmicks. No distractions. 
    </p>
    <p>
        Not a member yet? <a routerLink="/signup" routerLinkActive="active">Click here</a> to sign up!
    </p>
  </div>