<div class="row content-box align-items-center justify-content-center">
    <div class="col-md-5">
      <h2 >
        Welcome to SkateTrax!
      </h2>
      
    <p>
        The ultimate tracking tool for figure skaters and coaches.
    </p>
    <p>
        Not a member yet? Click to find out more!
    </p>
      <div class="text-center">
      <button type="button" class="btn btn-outline-success"><a routerLink="about"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Read More</a></button>
      </div>
    </div>
    <div class="col-md-5">
        <h2 class="text-center">Sign In</h2>
        
        <form >
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <div class="text-center"><button type="button" class="btn btn-outline-warning ">Login!</button></div>
          </form>

      </div>
  </div>